body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 20px;
    height: 85px;
  }

  #hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assests/images/granos-de-cafe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



  
  h1 {
    font-size: 2em;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  
  
  
  section {
    padding: 20px;
  }
  
  
  
  section.productos {
    background-color: #eeeeee;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  section.contacto {
    background-color: #ffffff;
  }
  
  footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
  }
  
  
  html{
      scroll-behavior: smooth;
  }
  
  body{
      font-family: '', sans-serif;
      margin: 0;
  }
  
  h1{ font-size: 3.5em;}
  h2{ font-size: 2.7em;}
  h3{ font-size: 2em;}
  p{ font-size: 1.25em;}
  ul{ list-style: none;}
  li{ font-size: 1.25em;}
  
  button{
      font-size: 1.25em;
      font-weight: bold;
      padding: 10px 30px;
      border-radius: 5px;
      border: 2px solid rgba(0,0,0,0.3);
      box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
      color: white;
      background-color: #FCC419;
  }
  
  button:hover{
      background-color: rgb(101, 33, 165);
  }
  
  .container{
      max-width: 1400px;
      margin: auto;
  }
  
  .color-acento{ color:#FCC419; }
  
  header{
      background-color: rgb(245,245,245);
      
  }
  
  header .logo{
      margin: 0;
      padding: 25px 30px;
      font-weight: bold;
      color: #FCC419;
      font-size: 1.6em;
  }
  
  header .container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  header nav{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 25px;
  }
  
  header a{
      padding: 5px 12px;
      text-decoration: none;
      font-weight: bold;
      color: black;
  }
  
  header a:hover{
      color: #FCC419;
  }
  
  
  
  #hero h1{
      color: white;
  }
  
  #hero button{
      font-size: 1.75em;
  }
  
  
  #nuestros-programas{
      background-color: rgb(30,30,30);
      color: white;
      text-align: center;
  }
  
  #nuestros-programas .container{
      padding: 150px 12px;
  }
  
  #nuestros-programas h2{
      margin-top: 0;
      font-size: 3.2em;
  }
  
  #nuestros-programas p{
      display: none;
  }
  
  #nuestros-programas .carta{
      background-position: center center;
      background-size: cover;
      padding: 50px 0px;
      margin: 30px;
      border-radius: 15px;
  }
  
  
  
  
  #final{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgb(30,30,30);
      color: white;
      height: 80vh;
  }
  
  #final h2{
      font-size: 9vw;
  }
  
  #final button{
      font-size: 5vw;
  }
  
  footer{
      background-color: rgb(0, 0, 0);
  }
  
  footer p{
      margin: 0;
      padding: 12px;
      color: rgb(100,100,100);
  }
  
  footer .container{
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }
  
  @media (min-width: 850px) {}
      header{
          position: fixed;
          width: 100%;
      }
  
      header .container{
          flex-direction: row;
          justify-content: space-between;
      }
  
      header nav{
          flex-direction: row;
          padding-bottom: 0;
          padding-right: 20px;
      }
  
      #hero h1{
          font-size: 5em;
      }
  
  
      #nuestros-programas .programas{
          display: flex;
          justify-content: center;
      }
  
      #nuestros-programas p{
          display: block;
          margin-bottom: 30px;
      }
  
      #nuestros-programas h2{
          font-size: 4em;
      }
  
      #nuestros-programas h3{
          margin-top: 0;
      }
  
      #nuestros-programas .carta{
          padding: 50px;
          background-size: 100% 150px;
          background-repeat: no-repeat;
          background-position-y: 0;
          background-color: rgba(50, 50, 50, 1);
          box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
      }
  
      .carta:first-child{
          background-image: linear-gradient(
              0deg,
              rgba(0,0,0,0.5),
              rgba(0,0,0,0.5)
          )
          ,url("Assests/images/cafeteras.webp");
  
      }
  
      .carta:nth-child(2){
          background-image: linear-gradient(
              0deg,
              rgba(0,0,0,0.5),
              rgba(0,0,0,0.5)
          )
          ,url("Assests/images/virginia.webp");
      }
  
      .carta:nth-child(3){
          background-image: linear-gradient(
              0deg,
              rgba(0,0,0,0.5),
              rgba(0,0,0,0.5)
          )
          ,url("Assests/images/tazas.jpg");
      }

      .footer{
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #FCC419;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #f80f0f;
    }
    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
    